<div class="container">
    <h1>Here you can add an employee</h1>
    <div class="mg">
        <form name="contactForm" ng-submit="submitForm(contactForm)" novalidate>
            <div class="form-group">
                <label>Name</label>
                <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="text-danger">Please, fill
                    in employee's name.</p>
                <input type="text" name="name" ng-required="true" ng-model="name" class="form-control" placeholder="Name">

            </div>
            <div class="form-group">
                <label for="emailInput">Surname</label>
                <p ng-show="contactForm.surname.$invalid && !contactForm.surname.$pristine" class="text-danger">Please
                    fill employee's surname.</p>
                <input type="text" name="surname" ng-model="surname" ng-required="true" class="form-control"
                    placeholder="Surname">
            </div>
            <div class="form-group">
                <label for="employedSince">Working in company since</label>
                <datepicker>
                    <input ng-model="date" name="employedSince" ng-model="employmentDate" class="form-control"
                        ng-required="true" placeholder="yyyy/mm/dd">
                </datepicker>
                <p ng-show="contactForm.employedSince.$invalid && !contactForm.employedSince.$pristine" class="text-danger">This
                    field is required!</p>

            </div>
            <div class="form-group">

                <label for="vacationDays">Number of vacation days</label>
                <p ng-show="contactForm.vacationDays.$invalid && !contactForm.vacationDays.$pristine" class="text-danger">This
                    field is required!</p>
                <input type="text" name="vacationDays" class="form-control" ng-model="vacationDays" ng-required="true"
                    placeholder="">
            </div>
            <div class="form-group">
                <label for="supervisor">Supervisor name</label>
                <ui-select ng-model="selectedSupervisor" on-select="updateSelectedItem(selectedSupervisor)" required="true">
                    <ui-select-match placeholder="Choose">{{$select.selected.name}}</ui-select-match>>
                    <ui-select-choices repeat="item in selected.supervisorsArray">
                        <div ng-bind-html="item.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="btn btn-group">
                <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-success">Submit</button>
                <!-- <a href="#" class="btn btn-danger">Cancel</a> !-->
            </div>
        </form>
    </div>

</div>