<div ng-show="vm.data">
    <table class="table table-hover ">
        <button class="btn btn-sm btn-info" ng-click="vm.filter()">Show indexes where (index)%({{vm.divisor}})=0</button>
        <thead>
            </tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Started working on:</th>
                <th>Supervisor</th>
                <th>Vacation Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in vm.data">
                <th>{{employee.id}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.employedSince}}</td>
                <td>{{employee.supervisorName}}</td>
                <td>{{employee.vacationDays}}</td>
                <td>
                    <a ng-href="#!employee/{{employee.id}}">
                        <button class="btn btn-sm btn-info">&nbsp&nbsp&nbspEdit&nbsp&nbsp&nbsp&nbsp</button>
                    </a>
                    <button class="btn btn-sm btn-danger" ng-click="vm.deleteEmployee(employee.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>