<div class="container">
    <div class="col-xs-12">
        <header-component></header-component>
    </div>
    <div class="col-xs-12">
        <employee-log></employee-log>
    </div>
    <div class="col-xs-12 col-md-12">
        <employee-section>
        </employee-section>
   
        <!-- <employee-table>
        </employee-table> -->
    </div>
    <div class="col-xs-12 col-md-12 ">
        <employee-form></employee-form>
    </div>
    <div class="col-xs-12 bg-success">
        <page-footer></page-footer>
    </div>
</div>