<div class="container">
        <div class="row">
                <div class="col-xs-12">
                    <employee-log></employee-log>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <employee-table></employee-table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <employee-form></employee-form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bg-success">
                    <page-footer></page-footer>
                </div>
            </div>
        
</div>
 