<div class="container">


    <div class="alert alert-danger" ng-show="error">{{error}}</div>

    <div class="col-12" ng-show="data">
        <h1>Employee data</h1>
        <table class="table table-striped table-hover">
            <thead>
                </tr>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Started working on:</th>
                    <th scope="col">Supervisor</th>
                    <th scope="col">Vacation Days</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in data">
                    <th scope="row">{{employee.id}}</th>
                    <td>{{employee.name}}</td>
                    <td>{{employee.surname}}</td>
                    <td>{{employee.employedSince}}</td>
                    <td>{{employee.supervisorName}}</td>
                    <td>{{employee.vacationDays}}</td>
                    <td>
                        <div class="row">
                            <button class="btn btn-danger" ng-click="deleteEmployee(employee.id)">Remove</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-show="data">
        <div class="col-md-2 col-xs-12">
            <a href="#!contact">
                <div class="btn btn-success">Add employee</div>
            </a>
        </div>
    </div>
</div>